<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Master App</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="spinner-container" *ngIf="isLoading">
      <ion-spinner name="crescent"></ion-spinner>
  </div>

  <ion-card *ngIf="!isLoading">
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">Registra tu usuario empresarial</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <div class="center-box">
              <form [formGroup]="loginForm">    
                  <ion-input
                      type="text"
                      fill="outline"
                      label="Usuario"
                      labelPlacement="floating"
                      helperText="Ingrese un usuairo"
                      errorText="Usuario invalido"
                      maxlength="10"
                      formControlName="user"
                      ngModel
                      text>
                  </ion-input>
                  <ion-input
                      type="password"
                      fill="outline"
                      label="Contraseña"
                      labelPlacement="floating"
                      helperText="Ingrese su contraseña"
                      errorText="Contraseña invalida"
                      maxlength="10"
                      formControlName="password"
                      ngModel
                      password>
                  </ion-input>
              </form>
            </div>
      </ion-card-content>
  </ion-card>

  <ion-grid [fixed]="true" *ngIf="!isLoading">
      <ion-row class="ion-text-center">
          <ion-col>
              <ion-button (click)="submitForm()">Registrate</ion-button>
          </ion-col>
          <ion-col>
              <ion-button routerLink="/login" color="primary">Inicia Sesion</ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>


