<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Lista de tareas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeSession()" color="danger">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
<ion-content>
    <h3 class="ion-text-center">Agrega tus tareas del dia</h3><br>

    <ion-list>
      <ion-item *ngFor="let task of tasks; let i = index">
        {{ task }}
        <ion-buttons slot="end">
            <ion-button (click)="navigateToDetails(task)" color="primary">
                <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
            </ion-button>
            <ion-button (click)="removeTask(i)" color="danger">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
            </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  
    <ion-item>
      <ion-input [(ngModel)]="newTask" placeholder="Nueva tarea"></ion-input>
      <ion-button expand="full" (click)="addTask()">Agregar Tarea</ion-button>
    </ion-item>
</ion-content>
  