.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
}

.custom-select {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}
  

.custom-label {
    color: #333;
    margin-left: 10px;
}
  
  